# --- Data ---
data/raw/
data/processed/
data/splits/
*.nii
*.nii.gz
*.tar
*.zip
*.npy
*.npz

# --- Experiments & Models ---
*.pth
*.pt


# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environments ---
venv/
.env/
.venv/

# --- Jupyter ---
.ipynb_checkpoints/

src/models/SwinTransformers/__pycache__/
src/models/SwinTransformers/test_swin_block.py
src/models/SwinBraTS.py

# .log files
*.log
